.ad-info-container {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(233, 231, 230);
    padding: 18px;
    min-height: 88vh;
}

.ad-info {  
    border: 1px solid #ccc;
    border-top: 3px solid rgb(218, 164, 65);
    border-bottom: 3px solid rgb(218, 164, 65);
    border-radius: 10px;
    box-shadow: 2px 3px 5pc #ddd;
    width: 60%;
    min-width: 300px;
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-info__username{
    text-decoration: none;
    color: var(--primary-color);
}

.ad-info__price{
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.ad-info__content{
    margin-top: 15px;
    text-align: left;
    width: 70%;
    min-height: 200px;
}

.ad-info__message-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-info__message-form-group{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.ad-info__message-form-group-input {
    padding: 5px 10px;
    resize: none;
    border: none;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 5px #ccc;
}

.ad-info__message-form-group-submit{
    padding: 5px 15px;
    width: 28%;
    font-weight: bold;
    height: 36px;
    border: none;
    border-radius: 10px;
    background-color: rgb(79, 150, 216);
    transition: 0.3s;
}

.ad-info__message-form-group-submit:hover{
    background-color: rgb(44, 131, 212);
}

@media (max-width: 800px) {
    .ad-info__title {
        font-size: 18px;
    }

    .ad-info__city,
    .ad-info__price {
        font-size: 12px;
    }

    .ad-info__message-form {
        width: 100%;
    }

    .ad-info__message-form-group{
        width: 100%;
    }

    .ad-info__message-form-group-submit{
        width: 100%;
    }
}