*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #3e5ca8;
  --secondary-color: #8BD8BD;
  --orange-color: rgb(255, 113, 18);
}
.container{
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.flash-messages {
  background-color: rgb(83, 207, 83);
}

.error{
  color: red;
  font-size: 13px;
  margin: 5px;
}
/*
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fffdf7;
}

.nav-logo{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}

ul{
  list-style-type: none;
}

.nav-list ul{
  display: flex;
}

.nav-list ul li{
  border: 1.5px solid #F64C72;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #242582;
  color: #E3E2DF;
}

#add{
  background-color: #F64C72;
  border: 1.5px solid #242582;
}

.nav-list ul li a{
  margin: auto;
}


ul a {
  text-decoration: none;
  color: #FEFFFF;
  margin-right: 20px;
}

a{
  color: black;
  text-decoration: none;
}

h1{
  color: white;
}

.flash-messages{
  background-color: #88fca7;
}

main{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

.search{
  background-image: url("mainphoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 900px;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.search-box{
  background-color: #2F2FA2;
  min-width: 450px;
  width: 60vw;
  min-height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: appear;
  animation-duration: 3s;
}

@keyframes appear{
from{
  margin-right: -300%;
}
to{
  margin-right: 0%;
}
}

.form-group{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.login-page{
  min-height: 700px;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,64,121,1) 47%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.register-form, .login-form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  justify-content: space-between;
  min-width: 300px;
  border: 2px solid rgb(156, 154, 154);
  box-shadow: 3px 3px 10px rgb(78, 78, 78);
}

.register-form input, .login-form input{
  transition: 0.5s ease-out;
  box-shadow: 3px 3px 3px rgb(182, 181, 181);
}

.register-form input:focus, .login-form input:focus{
  border-color: rgb(141, 141, 141);
}

.login-form{
  height: 450px;
  margin-top: 100px;
}

.register-form{
  height: 600px;
  margin-top: 100px;
}

.login-error li{
  color: red;
}

.log-in-pic{
  position: relative;
  top: -65px;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid black;
}

.sbt-btn{
  background-color: #63c1ff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 150px;
  font-size: 15px;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
}

.sbt-btn:hover{
  transform: scale(1.1);
}

.categories{
  display: flex;
  justify-content: center;
  min-width: 100%;
  width: 100%;
}

.category-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  padding: 20px;
  min-width: 100vw;
  width: 100%;
  position: relative;
}

.category-item{
  margin-bottom: 30px;
  display: flex;
  width: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.category-item{
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.category-item:hover{
  transform: scale(1.2);
}

.ad-list{
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.ad{
  border: 1px solid #d1dae0;
  margin-bottom: 10px;
  padding: 10px;
  height: 100px;
  box-shadow: 3px 4px 10px #ccc;
}


.filter-ads{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-section-search{
  width: 60%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.newest-ads-title{
  display: flex;
  justify-content: center;
}
.newest-ads{
  min-width: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.newest-ad{
  border: 1px solid #d1dae0;
  width: 20%;
  padding: 5px;
  height: 100px;
  margin-right: 10px;
  box-shadow: 3px 4px 10px #ccc;
}

.user-info{
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.user-ads{
  display: flex;
  flex-wrap: wrap;
}

.user-ad{
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}


.error{
  color: red;
  font-size: 0.8rem;
}

.edit{
  display: flex;
}

.edit-ad{
  background-color: #739fff;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}

.delete-ad{
  background-color: #f53131;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}


.ad-info{
  background-color: white;
  border-radius: 5px;
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.back-home{
  margin-top: 5px;
}

.back-home:hover{
  color: #63c1ff;
}

.form-input{
  width: 300px;
  height: 40px;
  padding: 5px;
  border: none;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  margin: 0;
}

.form-large-input{
  border:none;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
}

.add-advert-form{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 35%;
}

.add-advert-form h2{
  text-align: center;
  margin-bottom: 10px;
}

.add-advert-form .sbt-btn{
  margin-left: 35%;
  margin-top: 20px;
}

.pages{
  display: flex;
  justify-content: center;
}

.pages a{
  margin-right: 4px;
}

.pages a:hover{
  color: #4e86d9;
}

#advert-title{
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.messages{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.message{
  background-color: #ebedeb;
  padding: 5px;
  border-radius: 3px;
}
.message-form{
  display: flex;
  justify-content: center;
}

.message-form  button{
  margin-left: 15px;
}

input:focus, select:focus{
  outline: none;
}

.search-input{
  height: 30px;
  width: 300px;
}

.search-btn{
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
  background-color:  #4e86d9;
  transition: 1s;
}

.search-btn:hover{
  background-color: #2b6fd6;
}

@media (max-width: 768px){


  .category-item img{
    display: none;
  }

  .newest-ads{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newest-ad{
    width: 85vw;
    margin-bottom: 10px;
  }
}

*/
