{% extends "layout.html" %}
{% block content %}
<section class="search">
  <h1>Szukaj ofert sposród najlepszych ogłoszeń w sieci!</h1>
  <div class="search-box">
    <form action="" method='POST'>
      {{ form.title }}
      {{ form.submit }}
    </form>
  </div>
</section>
{% endblock %}
{% block categories %}
<section class="category-section">
      <div class="row">
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Motoryzacja</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Nieruchomości</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Elektronika</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Praca</a>
        </div>
      </div>
      <div class="row">
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Zabawki</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Odzież</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Obuwie</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Sport</a>
        </div>
      </div>
      <div class="row">
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Siłownia</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Odżywianie</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Zabytki</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="">Meble</a>
        </div>
 </section>
{% endblock %}
