{% extends "layout.html" %}
{% block content %}
<section class="search">
  <div class="search-box">
    <form action="">
      <input type="text" placeholder="Czego szukasz?">
      <input type="submit" value="Dawaj!">
    </form>
  </div>
  <div class="categories">
    <div class="row">
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja1</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja2</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja3</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja4</a>
      </div>
    </div>
    <div class="row1">
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja5</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja6</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja7</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja8</a>
      </div>
    </div>
    <div class="row">
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja9</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja10</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja11</a>
      </div>
      <div class="category-item">
        <img src="/static/car.png" alt="" height="35px" width="35px">
        <a href="">Motoryzacja12</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
