{% extends "layout.html" %}
{% block content %}
<section class="search">
  <h1>Szukaj ofert sposród najlepszych ogłoszeń w sieci!</h1>
  <div class="search-box">
    <form action="" method='POST'>
      {{ form.title (class='search-input') }}
      {{ form.submit (class='search-btn') }}
    </form>
  </div>
</section>
{% endblock %}
{% block categories %}
<section class="categories">
  <div class="category-section">
      <div class="column">
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='motoryzacja') }}">Motoryzacja</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='nieruchomsci') }}">Nieruchomości</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='elektronika') }}">Elektronika</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='praca') }}">Praca</a>
        </div>
      </div>
      <div class="column">
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='zabawki') }}">Zabawki</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='odziez') }}">Odzież</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='obuwie') }}">Obuwie</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='sport') }}">Sport</a>
        </div>
      </div>
      <div class="column">
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='silownia') }}">Siłownia</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='odzywianie') }}">Odżywianie</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='zabytki') }}">Zabytki</a>
        </div>
        <div class="category-item">
          <img src="/static/car.png" alt="" height="35px" width="35px">
          <a href="{{ url_for('search', category='meble') }}">Meble</a>
        </div>
   </div>
  </section>
  <h2>Najnowsze ogłoszenia!</h2>
  <div class="newest-ads">
    {% for ad in ads.items %}
      <div class="newest-ad">
        <h2><a href="{{ url_for('show_advert', advert_id=ad.id) }}"> {{ ad.title }} </a></h2>
        <p>Kategoria: <a href="{{ url_for('search', category=ad.category) }}"> {{ ad.category }} </a></p>
        <p>Cena: {{ ad.price }} zł</p>
        <small>Data dodania {{ ad.date.strftime('%Y-%m-%d %H:%M') }}</small>
      </div>
    {% endfor %}
  </div>
{% endblock %}
