{% extends "layout.html" %}
{% block content %}
<div class="login-container">
  <div class="login">
    <img class="login__image" src="{{ url_for('static', filename='images/user-icon.png')}}" alt="" height="100px" width="100px">
    <h2 class="login__header">Logowanie</h2>
      <form class="login__form" action="" method='POST'>
        {{ form.hidden_tag() }}
        <div class="login__form-group">
          <i class="far fa-envelope"></i>
          {{ form.email(class="login__form-group-input") }}
        </div>
        {% if form.email.errors %}
          <div class="errors">
            {% for error in form.email.errors %}
              <p class="error">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        <div class="login__form-group">
          <i class="fas fa-lock"></i>
          {{ form.password(class="login__form-group-input") }}
        </div>
        {% if form.password.errors %}
          <div class="errors">
              {% for error in form.password.errors %}
              <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
          {% endif %}
        <div class="login__form-group-submit">
          {{ form.submit (class='login__form-group-submit-btn') }}
        </div>
      </form>
      <small class="login__form-register">Nie posiadasz jeszcze konta?<a class="login__form-register-anchor" href="{{ url_for('register')}}">Załóż konto</a></small>
      <a class="login__form-back-home" href="{{ url_for('home')}}"> <i class="fas fa-arrow-left"></i> Wróć do strony głównej</a>
    </div>
  </div>
{% endblock %}
