{% extends "layout-register-login.html" %}
{% block content %}
  <div class="login-form">
    <div class="log-in-pic">
      <img src="/static/user-icon.png" alt="" height="100px" width="100px">
    </div>
    <h2>Logowanie</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=login-error>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
  {% endif %}
  {% endwith %}
      <form action="" method='POST' class='form'>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email(class="form-input") }}
          {% if form.email.errors %}
          <div class="errors">
            {% for error in form.email.errors %}
              <p class="error">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password(class="form-input") }}
          {% if form.password.errors %}
          <div class="errors">
              {% for error in form.password.errors %}
              <p class="error">jeab</p>
              {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="submit">
          {{ form.submit (class='sbt-btn') }}
        </div>
      </form>
      <small>Nie posiadasz jeszcze konta?<a href="{{ url_for('register')}}" class="back-home">Załóż konto</a></small>
      <a href="{{ url_for('home')}}" class="back-home"><small>Wróć do strony głównej</small></a>
    </div>
{% endblock %}
