{% extends "layout.html" %}
{% block content %}
<div class="messages-container">
  <div class="messages">
      <form class="messages__form" action="{{ url_for('messages') }}" method="POST">
        <select name='message_select' class="messages__form-select">
          <option value="received">Otrzymane</option>
          <option value="send">Wysłane</option>
        </select>
        <button type="submit" class="messages__form-btn">Typ</button>
      </form>
    {% for message in messages %}
      <div class="messages__message">
        <p class="messages__message-from">Wiadomość od użytkownika <strong>{{ message.author.username }}</strong></p>
        <small class="messages__message-date">Wysłano {{ message.timestamp.strftime('%Y-%m-%d %H:%M') }} </small>
        <p class="messages__message-ad-title">Ogłoszenie <strong>{{ message.advert_title }}</strong></p>
        <p class="messages__message-title">Tytuł: {{ message.title }}</p>
        <p class="messages__message-content">Treść : {{ message.body }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
