{% extends 'layout.html' %}
{% block content %}
<div class="register-form">
  <div class="log-in">
    <img src="/static/register-icon.png" alt="" height="100px" width="100px">
  </div>
  <form action="" method='POST' class='form'>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }}
      {{ form.username }}
      {% if form.username.errors %}
        <ul class="errors">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email }}
      {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password }}
      {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label }}
      {{ form.confirm_password }}
      {% if form.confirm_password.errors %}
        <ul class="errors">
          {% for error in form.confirm_password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="submit">
      {{ form.submit (class='sbt-btn') }}
    </div>
  </form>
</div>
{% endblock %}
