{% extends "layout.html" %}
{% block content %}
<section class="filter-ads">
  <div class="category-section-search">
        <div class="column">
          <div class="category-item">
            <a href="{{ url_for('search_results', category='motoryzacja') }}">Motoryzacja</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='nieruchomsci') }}">Nieruchomości</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='elektronika') }}">Elektronika</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='praca') }}">Praca</a>
          </div>
        </div>
        <div class="column">
          <div class="category-item">
            <a href="{{ url_for('search_results', category='zabawki') }}">Zabawki</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='odziez') }}">Odzież</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='obuwie') }}">Obuwie</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='sport') }}">Sport</a>
          </div>
        </div>
        <div class="column">
          <div class="category-item">
            <a href="{{ url_for('search_results', category='silownia') }}">Siłownia</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='odzywianie') }}">Odżywianie</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='zabytki') }}">Zabytki</a>
          </div>
          <div class="category-item">
            <a href="{{ url_for('search_results', category='meble') }}">Meble</a>
          </div>
        </div>
   </div>
  <div class="ad-list">
    {% if ads.items|length==0 %}
      <h2>Brak ogłoszeń!</h2>
    {% else %}
      {% for advert in ads.items %}
        <div class='ad'>
          <a href='{{ url_for('show_advert', advert_id = advert.id) }}'><h2>{{ advert.title }}</h2></a>
          <small>Data opublikowania: {{ advert.date.strftime('%Y-%m-%d') }}</small>
          <p>Miasto: {{ advert.city }}</p>
          <h4>Cena: {{ advert.price }} zł</h4>
        </div>
      {% endfor %}
    {% endif %}
    <div class="pages">
    {% for page_num in ads.iter_pages() %}
        {% if page_num %}
          <a href="{{ url_for('search_results', page=page_num, category=cat) }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
