{% extends "layout.html" %}
{% block content %}
<div class="ad-info">
    <h2> Tytuł ogłoszenia: {{ advert.title }}</h2>
    <p><strong>{{advert.city }}</strong> |  Dodane o {{ advert.date.strftime('%Y-%m-%d %H:%M') }} przez <a href="{{ url_for('account') }}">{{ advert.autor.username }}</a></p>
    <p>Cena: <strong>{{ advert.price }} zł </strong></p>
    <h3>Treść</h3>
    <p>{{ advert.content }}</p>
    <hr>
    {% if current_user.is_authenticated and current_user.username != advert.autor.username%}
      <div class="message-form">
        <h3>Masz pytanie?</h3>
        <form action="" method='POST'>
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
            {% if form.title.errors %}
              <ul class="errors">
                {% for error in form.title.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.message.label }}
            {{ form.message(rows='10', cols='40') }}
            {% if form.message.errors %}
              <ul class="errors">
                {% for error in form.content.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          {{ form.submit }}
        </form>
      </div>
    {% elif current_user.username == advert.autor.username %}
    {% else %}
      <h3>Aby zadać pytanie musisz się zalogować</h3>
    {% endif %}
</div>
{% endblock %}
