{% extends 'layout.html' %}
{% block content %}
<div class="user-info">
  <h2>Dane</h2>
  <h4>Nazwa użytkownika: {{ user.username }}</h4>
  <h4>Adres email: {{ user.email }}</h4>
  <p>Posiadasz <strong>{{ number_of_ads }}</strong> ogłoszeń</p>
  <p>Do wykoszytania masz <strong>{{ 9 - number_of_ads }}</strong> ogłoszeń</p>
  <h2>Twoje ogłoszenia: </h2>
  <div class="user-ads">
    {% for ad in ads %}
    <div class="user-ad">
      <h2><a href="{{ url_for('show_advert', advert_id=ad.id) }}"> {{ ad.title }}</a></h2>
      <hr>
      <p>Kategoria: <a href="{{ url_for('search', category=ad.category) }}"> {{ ad.category }} </a></p>
      <p>Cena: {{ ad.price }} zł</p>
      <small> Data dodania {{ ad.date.strftime('%Y-%m-%d %H:%M') }}</small>
      <div class="edit">
        <div class="edit-ad"><a href="{{ url_for('update_advert', advert_id=ad.id) }}">Edytuj ogłoszenie</a></div>
        <div class="delete-ad"><a href="{{ url_for('delete_advert', advert_id=ad.id) }}">Usuń ogłoszenie</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="messages">
    {% for message in messages %}
      <p>{{ message.author.username }}</p>
      <p>Ogłoszenie {{ message.adtitle }}</p>
      <p>Treść : {{ message.body }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
