*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fffdf7;
}

.nav-logo{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}

ul{
  list-style-type: none;
}

.nav-list ul{
  display: flex;
}

.nav-list ul li{
  border: 1.5px solid #F64C72;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #242582;
  color: #E3E2DF;
}

#add{
  background-color: #F64C72;
  border: 1.5px solid #242582;
}

.nav-list ul li a{
  margin: auto;
}


ul a {
  text-decoration: none;
  color: #FEFFFF;
  margin-right: 20px;
}

a{
  color: black;
  text-decoration: none;
}

h1{
  color: white;
}

.flash-messages{
  background-color: #88fca7;
}

main{
  background-color: #fcfff2;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-image: url("mainphoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.search{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box{
  background-color: #2F2FA2;
  width: 60%;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-group{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-form, .login-form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  justify-content: space-between;
}

.login-form{
  height: 450px;
  margin-top: 100px;
}

.register-form{
  height: 600px;
  margin-top: 100px;
}

.sbt-btn{
  background-color: #63c1ff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 150px;
  font-size: 15px;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
}

.sbt-btn:hover{
  transform: scale(1.1);
}

.categories{
  display: flex;
  justify-content: center;
  width: 100%;
}

.category-section{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 20px;
  width: 70%;
  position: relative;
}


.category-item{
  margin-bottom: 30px;
  display: flex;
  width: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.category-item{
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.category-item:hover{
  transform: scale(1.2);
}

.ad-list{
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.ad{
  border: 1px solid #d1dae0;
  margin-bottom: 10px;
  padding: 10px;
  height: 100px;
}


.filter-ads{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-section-search{
  width: 60%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.newest-ads-title{
  display: flex;
  justify-content: center;
}
.newest-ads{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.newest-ad{
  border: 1px solid #d1dae0;
  width: 20%;
  padding: 5px;
  height: 100px;
  margin-right: 10px;
}

.user-info{
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.user-ads{
  display: flex;
  flex-wrap: wrap;
}

.user-ad{
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}


.error{
  color: red;
  font-size: 0.8rem;
}

.edit{
  display: flex;
}

.edit-ad{
  background-color: #739fff;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}

.delete-ad{
  background-color: #f53131;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}


.ad-info{
  background-color: white;
  border-radius: 5px;
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page{
  height: 100vh;
  background-color: #4e86d9;
  display: flex;
  justify-content: center;
}

.back-home{
  margin-top: 5px;
}

.back-home:hover{
  color: #63c1ff;
}

.form-input{
  width: 300px;
  height: 40px;
  padding: 5px;
  border: none;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  margin: 0;
}

.form-large-input{
  border:none;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
}

.add-advert-form{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 35%;
}

.add-advert-form h2{
  text-align: center;
  margin-bottom: 10px;
}

.add-advert-form .sbt-btn{
  margin-left: 35%;
  margin-top: 20px;
}

.pages{
  display: flex;
  justify-content: center;
}

.pages a{
  margin-right: 4px;
}

.pages a:hover{
  color: #4e86d9;
}

#advert-title{
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.messages{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.message{
  background-color: #ebedeb;
  padding: 5px;
  border-radius: 3px;
}
.message-form{
  display: flex;
  justify-content: center;
}

.message-form  button{
  margin-left: 15px;
}
